<app-course-header [courseCode]="courseCode"></app-course-header>


<div class="card-container">
  <nz-tabset nzCentered nzType="card">

    <nz-tab nzTitle="成员列表">
      <ng-template nz-tab>
        <app-course-member-view [courseCode]="courseCode" [isTeacher]="false"></app-course-member-view>
      </ng-template>
    </nz-tab>

    <nz-tab nzTitle="课程章节">
      <ng-template nz-tab>
        <app-chapter [courseCode]="courseCode" [isStudent]="false"></app-chapter>
      </ng-template>
    </nz-tab>


    <nz-tab [nzTitle]="problemsToBeTAGrade">
      <ng-template #problemsToBeTAGrade>
        试题评价
        <nz-badge [nzDot]="taGradeProblemComponent?.hasProblemToBeGraded()">
        </nz-badge>
      </ng-template>

        <app-ta-grade-problem [courseCode]="courseCode"></app-ta-grade-problem>

    </nz-tab>

    <nz-tab nzTitle="文件">
      <ng-template nz-tab>
        <app-course-file [allowFileUpload]="true" [courseCode]="courseCode"></app-course-file>
      </ng-template>
    </nz-tab>

    <nz-tab nzTitle="课程评分">
      <ng-template nz-tab>
        <app-scores [courseCode]="courseCode" [isTeacher]="false"></app-scores>
      </ng-template>
    </nz-tab>


  </nz-tabset>
</div>

